*{
    padding: 0px;
    margin: 0px;
}
body{
  font-family: "Young Serif", serif;
}
.container{
    padding:50px;
}
.section-1{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-1___contact{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}
.section-1___name{
    font-size: 60px;
}
.section-1___role{
    font-size: 40px;
    margin-top: 10px;
}
.section-2,.section-3,.section-4,.section-5{
    margin-top: 20px;
}
.section-2__descr,.section-3__descr,.section-4__descr,.section-5__descr{
    margin-top:10px;
}
.section-5{
    background-color: black;
    color: white;
}
.section-5 a{
    color: skyblue;
}
.section-3 li,.section-4 li{
    list-style:none;
}
.section-3{
    background-color: #6462fd;
    color: black;
    display: inline-block;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}
.section-4{
    background-color: #fe7517;
    color: black;
    display: inline-block;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}

.contact-form{
    margin-top: 20px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
}
.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__textarea{
    padding: 10px;
    border: none;
    border-bottom: solid black ;
}
.contact-form__submit{
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: orangered;
    color: black;
    border:none;
}